@charset "UTF-8";
/* обнуление */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

nav,
header,
footer,
aside {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  line-height: 1;
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* ------------- */
/* Шрифты */
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v18-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v18-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v18-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v18-latin-regular.woff") format("woff"), url("../fonts/open-sans-v18-latin-regular.ttf") format("truetype"), url("../fonts/open-sans-v18-latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/open-sans-v18-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v18-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v18-latin-italic.woff2") format("woff2"), url("../fonts/open-sans-v18-latin-italic.woff") format("woff"), url("../fonts/open-sans-v18-latin-italic.ttf") format("truetype"), url("../fonts/open-sans-v18-latin-italic.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/open-sans-v18-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v18-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v18-latin-600.woff2") format("woff2"), url("../fonts/open-sans-v18-latin-600.woff") format("woff"), url("../fonts/open-sans-v18-latin-600.ttf") format("truetype"), url("../fonts/open-sans-v18-latin-600.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v18-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v18-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v18-latin-700.woff2") format("woff2"), url("../fonts/open-sans-v18-latin-700.woff") format("woff"), url("../fonts/open-sans-v18-latin-700.ttf") format("truetype"), url("../fonts/open-sans-v18-latin-700.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f1f1f1;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  padding: 50px 15px;
}

/* ================ header ================ */
.header {
  width: 100%;
  height: 270px;
  padding: 56px 0;
  border-top: 4px solid transparent;
  -o-border-image: 60 repeating-linear-gradient(90deg, #ef8742, #ef8742 80px, #e05543 80px, #e05543 160px, #bf4f79 160px, #bf4f79 240px, #8869ca 240px, #8869ca 320px, #2799c9 320px, #2799c9 400px, #1bb869 400px, #1bb869 480px, #9cbf3e 480px, #9cbf3e 560px, #f6b63a 560px, #f6b63a 640px);
     border-image: 60 repeating-linear-gradient(90deg, #ef8742, #ef8742 80px, #e05543 80px, #e05543 160px, #bf4f79 160px, #bf4f79 240px, #8869ca 240px, #8869ca 320px, #2799c9 320px, #2799c9 400px, #1bb869 400px, #1bb869 480px, #9cbf3e 480px, #9cbf3e 560px, #f6b63a 560px, #f6b63a 640px);
  background-image: url(../image/header/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__logo {
  width: 100%;
}

@media (max-width: 420px) {
  .header {
    height: auto;
    padding: 0;
  }
}

.logo {
  width: 240px;
  margin: 0 auto;
  position: relative;
}

.logo__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 420px) {
  .logo__image {
    display: none;
  }
}

.logo__title {
  font-size: 45px;
  color: white;
  text-align: center;
  line-height: 1.48;
  white-space: nowrap;
}

@media (max-width: 420px) {
  .logo__title {
    font-size: calc(24px + ((45 - 24) * (100vw / 970)));
  }
}

.logo__subtitle {
  padding-top: 8px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 4.9px;
  border-top: 1px solid #738491;
}

@media (max-width: 420px) {
  .logo__subtitle {
    display: none;
  }
}

.logo__flag {
  width: 0;
  height: 0;
  position: absolute;
  top: 30px;
  left: 100%;
  font-size: 14px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.2;
  text-align: left;
  text-indent: -50px;
  border-top: 15px solid #9cbf3e;
  border-left: 65px solid #9cbf3e;
  border-bottom: 15px solid #9cbf3e;
  border-right: 10px solid transparent;
}

.logo__flag::before {
  content: "";
  width: 1px;
  height: 40px;
  position: absolute;
  top: -15px;
  left: -65px;
  background-color: #738491;
}

.logo__flag::after {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  top: 25px;
  left: -67px;
  border-radius: 50%;
  background-color: #738491;
}

@media (max-width: 420px) {
  .logo__flag {
    display: none;
  }
}

/* ============== header end ============== */
/* ================ menu ================ */
.menu-page {
  width: 100%;
  position: relative;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #3c5569;
}

.menu-page.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}

.menu-page__items {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.menu-page__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-right: 1px solid #324758;
  -webkit-box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 0.12);
          box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 0.12);
}

.menu-page__item:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 72px;
          flex: 0 0 72px;
}

@media (max-width: 350px) {
  .menu-page__item:first-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

.menu-page__item:last-child {
  border-right: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (min-width: 950px) {
  .menu-page__item:first-child {
    border-right: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.menu-page__item_icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
}

.menu-page__logo img {
  max-width: 100%;
}

.menu-page__arrow {
  width: 0;
  height: 0;
  margin-left: 5px;
  font-size: 4px;
  border-top: 5px solid #fff;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

@media (max-width: 950px) {
  .menu-page__arrow {
    margin-left: 15px;
    font-size: 1px;
    vertical-align: middle;
    border-left: 5px solid #fff;
    border-right: 5px solid transparent;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
  }
}

.menu-page__image img {
  max-width: 100%;
}

@media (max-width: 950px) {
  .item-menu {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.item-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.item-menu__list > li {
  height: 60px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid #324758;
  -webkit-box-shadow: inset 1px 0px 0px 0px rgba(255, 255, 255, 0.12);
          box-shadow: inset 1px 0px 0px 0px rgba(255, 255, 255, 0.12);
  background-color: #3c5569;
}

.item-menu__list > li:hover .sub-menu__list {
  display: block;
}

@media (max-width: 950px) {
  .item-menu__list > li {
    height: 100%;
    border-top: 1px solid #324758;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.12);
            box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.12);
  }
}

@media (max-width: 950px) {
  .item-menu__list {
    width: 100%;
    height: 100%;
    padding-top: 60px;
    display: none;
    z-index: 5;
  }
  .item-menu__list.active {
    display: block;
  }
}

.item-menu__link {
  padding: 0 39px;
  display: inline-block;
  color: white;
}

@media (max-width: 950px) {
  .item-menu__link {
    margin: 15px 0 15px 15px;
    padding: 0;
  }
}

.sub-menu__list {
  width: 100%;
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 5;
  -webkit-box-shadow: 0px 0px 3px 3px rgba(58, 58, 58, 0.5);
          box-shadow: 0px 0px 3px 3px rgba(58, 58, 58, 0.5);
  background-color: #3c5569;
}

.sub-menu__list > li {
  border-top: 1px solid #324758;
  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.12);
          box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.12);
}

@media (max-width: 950px) {
  .sub-menu__list {
    padding: 0;
    top: 0;
    left: 120px;
  }
}

.sub-menu__link {
  margin: 15px 0 15px 40px;
  display: inline-block;
  color: white;
}

@media (max-width: 950px) {
  .sub-menu__link {
    margin: 15px 0 15px 15px;
    padding: 0;
  }
}

.burger-item {
  padding-left: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (min-width: 950px) {
  .burger-item {
    display: none;
  }
}

.burger {
  display: none;
}

@media (max-width: 950px) {
  .burger {
    width: 28px;
    height: 26px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    cursor: pointer;
    z-index: 5;
  }
  .burger span {
    width: 100%;
    height: 3px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .burger.active span:first-child {
    width: 60%;
    position: relative;
    top: 33%;
    left: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .burger.active span:last-child {
    width: 60%;
    position: relative;
    bottom: 34%;
    left: 38%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

/* ============== menu end ============== */
/* ================ slider ================ */
.page__intro {
  width: 100%;
  height: 440px;
  margin: 50px 0;
  border-radius: 5px;
  background-color: #33dfd6;
  background-image: url(../image/slider/bg_image.jpg);
  background-repeat: no-repeat;
  background-position: cover;
}

.slide-intro__content {
  padding: 130px 0 150px;
  text-align: center;
}

.slide-intro__ribbon {
  width: 46px;
  height: 25px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 12px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #9cbf3e;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
}

.slide-intro__ribbon::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -4px;
  left: 0;
  border-width: 2px;
  border-style: solid;
  border-color: transparent #86a72e #86a72e transparent;
}

.slide-intro__ribbon::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -4px;
  right: 0;
  border-width: 2px;
  border-style: solid;
  border-color: transparent transparent #86a72e #86a72e;
}

.slide-intro__ribbon span {
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  border-style: solid;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
}

.slide-intro__ribbon span:first-child {
  top: -4px;
  left: -18px;
  border-width: 12.5px 17px 12.5px 5px;
  border-color: #9cbf3e #9cbf3e #9cbf3e transparent;
}

.slide-intro__ribbon span:last-child {
  top: -4px;
  right: -18px;
  border-width: 12.5px 5px 12.5px 17px;
  border-color: #9cbf3e transparent #9cbf3e #9cbf3e;
}

.slide-intro__title {
  font-size: 50px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

@media (max-width: 600px) {
  .slide-intro__title {
    font-size: 6.6vw;
  }
}

.slide-intro__subtitle {
  font-size: 20px;
  color: white;
  font-style: italic;
}

@media (max-width: 500px) {
  .slide-intro__subtitle {
    font-size: 4.2vw;
  }
}

.slide-intro__subtitle span {
  width: 70px;
  height: 1px;
  margin: 6px;
  display: inline-block;
  background-color: white;
}

.slide-intro__gadget {
  font-size: 25px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.8;
}

@media (max-width: 600px) {
  .slide-intro__gadget {
    font-size: 4vw;
  }
}

/* Arrow */
.intro-page__prev,
.intro-page__next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.749);
}

@media (max-width: 500px) {
  .intro-page__prev,
  .intro-page__next {
    width: 35px;
    height: 35px;
  }
}

.intro-page__prev {
  left: 20px;
}

.intro-page__next {
  right: 20px;
}

.intro-page__prev::after,
.intro-page__next::after {
  color: rgba(255, 255, 255, 0.749);
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 500px) {
  .intro-page__prev::after,
  .intro-page__next::after {
    font-size: 18px;
  }
}

/* Pagination */
.intro-page__pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.749);
}

.intro-page__pagination .swiper-pagination-bullet-active {
  background-color: #f6b63a;
}

/* ============== slider end ============== */
/*==================== best-sellers ====================*/
.best-sellers {
  width: 100%;
  margin-bottom: 50px;
  position: relative;
}

.best-sellers__title {
  margin-bottom: 40px;
  font-size: 30px;
  color: #303030;
  text-align: center;
}

.best-sellers__title span {
  width: 320px;
  height: 1px;
  margin: 10px 20px 10px 10px;
  display: inline-block;
  background-color: #d7d7d7;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.004);
          box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.004);
}

.best-sellers__title span:last-child {
  margin: 10px 10px 10px 20px;
}

@media (max-width: 940px) {
  .best-sellers__title span {
    width: calc(40px + (320 - 40) * ((100vw - 320px) / (940 - 320)));
  }
}

@media (max-width: 500px) {
  .best-sellers__title span {
    display: none;
  }
}

.best-sellers__slider {
  position: static;
}

.best-sellers__wrapper {
  min-height: 315px;
}

.best-sellers__prev, .best-sellers__next {
  width: 44px;
  height: 40px;
  top: 17px;
  z-index: 20;
  border-radius: 4px;
  background-color: white;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.22);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.22);
}

.best-sellers__prev::after, .best-sellers__next::after {
  font-size: 16px;
  font-weight: 900;
  color: #aaaaaa;
}

.best-sellers__prev {
  left: 0;
}

.best-sellers__prev:hover {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
}

.best-sellers__next {
  right: 0;
}

.best-sellers__next:hover {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide__card {
  width: 220px;
  position: relative;
  border-radius: 4px;
  border: 1px solid #ededed;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.22);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.22);
  background-color: #fff;
}

.slide__card:hover {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
}

.slide__image {
  margin-bottom: 20px;
  position: relative;
}

.slide__image img {
  max-width: 100%;
  border-radius: 4px 4px 0 0;
}

.slide__image:hover .slide__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  border-radius: 4px 4px 0 0;
  background-color: #2799c9;
  opacity: 60%;
}

.slide__link {
  display: none;
}

.slide__badge {
  width: 54px;
  height: 25px;
  position: absolute;
  top: 16px;
  right: -2px;
  font-size: 12px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.083;
  text-align: center;
}

.slide__badge::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: -6px;
  border-width: 12.5px 6px;
  border-style: solid;
  border-left-color: transparent;
}

.slide__badge::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -2px;
  right: 0;
  border: 1px solid;
  border-top-color: transparent;
  border-right-color: transparent;
}

.slide__badge_green {
  background-color: #9cbf3e;
}

.slide__badge_green::before {
  border-top-color: #9cbf3e;
  border-right-color: #9cbf3e;
  border-bottom-color: #9cbf3e;
}

.slide__badge_green::after {
  border-bottom-color: #86a72e;
  border-left-color: #86a72e;
}

.slide__badge_blue {
  background-color: #388699;
}

.slide__badge_blue::before {
  border-top-color: #388699;
  border-right-color: #388699;
  border-bottom-color: #388699;
}

.slide__badge_blue::after {
  border-bottom-color: #388699;
  border-left-color: #388699;
}

.slide__badge_orange {
  background-color: #ef8742;
}

.slide__badge_orange::before {
  border-top-color: #ef8742;
  border-right-color: #ef8742;
  border-bottom-color: #ef8742;
}

.slide__badge_orange::after {
  border-bottom-color: #ef8742;
  border-left-color: #ef8742;
}

.slide__badge_violet {
  background-color: #8869ca;
}

.slide__badge_violet::before {
  border-top-color: #8869ca;
  border-right-color: #8869ca;
  border-bottom-color: #8869ca;
}

.slide__badge_violet::after {
  border-bottom-color: #8869ca;
  border-left-color: #8869ca;
}

.slide__title {
  padding: 0 15px;
  font-size: 16px;
  font-weight: 400;
  color: #303030;
  line-height: 1;
  white-space: nowrap;
}

.slide__title:hover {
  text-decoration: underline;
}

.slide__content {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide__price {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  font-size: 20px;
  color: #aaaaaa;
  line-height: 1.25;
}

.slide__price span {
  color: #303030;
}

.slide__oldprice {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  font-size: 14px;
  color: #aaaaaa;
  line-height: 1.786;
  text-decoration: line-through;
}

.slide__oldprice span {
  color: #fff;
}

.slide__add {
  padding-left: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.slide__btn {
  width: 100%;
  height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
  color: gray;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid #d7d7d7;
  background-color: #f9f9f9;
}

.slide__btn:hover {
  color: #fff;
  border: none;
  background-color: #2799c9;
}

/*==================== best-sellers end ================*/
/*==================== users ====================*/
.users {
  margin-bottom: 50px;
}

@media (min-width: 740px) {
  .users__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.column-reviews {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

@media (min-width: 740px) {
  .column-reviews {
    margin-right: 10px;
    padding-right: -10px;
  }
}

.column-reviews__text {
  margin-bottom: 40px;
  padding: 30px;
  position: relative;
  border-radius: 4px;
  border: 1px solid #ededed;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.22);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.22);
  background-color: #fff;
}

.column-reviews__text:hover {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
}

.column-reviews__text:hover::after {
  -webkit-box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.2);
}

@media (min-width: 740px) {
  .column-reviews__text {
    max-width: 620px;
  }
}

.column-reviews__text p {
  font-size: 15px;
  color: #aaaaaa;
  line-height: 1.667;
}

.column-reviews__text::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 20px;
  bottom: -20px;
  left: 120px;
  border-bottom-right-radius: 100% 100%;
  border-right: 20px solid white;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.22);
          box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.22);
}

.column-reviews__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.column-reviews__foto {
  width: 144px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.column-reviews__foto img {
  width: 60px;
  max-width: 100%;
  border: 1px outset rgba(0, 0, 0, 0.22);
}

.column-reviews__name {
  margin-bottom: 12px;
  font-size: 20px;
  color: #303030;
}

.column-reviews__address {
  font-size: 13px;
  color: gray;
  text-transform: uppercase;
}

.column-reviews__all {
  position: absolute;
  top: -25px;
  right: 0;
  font-size: 13px;
  font-weight: 600;
  color: #2799c9;
}

.column-reviews__all:hover {
  text-decoration: underline;
}

.column-form {
  max-height: 250px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  border-radius: 4px;
  border-top: 5px solid;
  -o-border-image: 5 0 0 0 repeating-linear-gradient(-45deg, transparent 0, transparent 14px, #2799c9 14px, #2799c9 28px, transparent 28px, transparent 42px, #e05543 42px, #e05543 56px);
     border-image: 5 0 0 0 repeating-linear-gradient(-45deg, transparent 0, transparent 14px, #2799c9 14px, #2799c9 28px, transparent 28px, transparent 42px, #e05543 42px, #e05543 56px);
  border-right: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  border-left: 1px solid #ededed;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.22);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.22);
  background-color: #fff;
}

.column-form:hover {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
}

@media (max-width: 740px) {
  .column-form {
    margin-top: 20px;
  }
}

.column-form__body {
  padding: 30px 18px;
  text-align: center;
}

.column-form__title {
  display: inline-block;
  font-size: 20px;
  text-transform: uppercase;
  color: #aaaaaa;
  line-height: 1.6;
  border-bottom: 1px solid #d7d7d7;
}

.column-form__title span {
  color: #9cbf3e;
}

.column-form__title span:first-child {
  font-weight: bold;
  color: #3c5569;
}

.column-form__subtitle {
  margin-bottom: 20px;
  font-size: 16px;
  color: #aaaaaa;
  font-style: italic;
  line-height: 1.8;
}

.column-form__input {
  width: 100%;
  max-width: 270px;
  height: 46px;
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  background-color: white;
}

.column-form__input::-webkit-input-placeholder {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  color: #aaaaaa;
}

.column-form__input:-ms-input-placeholder {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  color: #aaaaaa;
}

.column-form__input::-ms-input-placeholder {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  color: #aaaaaa;
}

.column-form__input::placeholder {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  color: #aaaaaa;
}

.column-form__input:hover, .column-form__input:focus {
  border: 1px inset #d7d7d7;
}

.column-form__button {
  width: 100%;
  max-width: 270px;
  height: 46px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  background-color: #ef8742;
}

.column-form__button:hover {
  color: #ef8742;
  border: 1px solid #ef8742;
  background-color: rgba(239, 135, 66, 0.3);
}

/*==================== users end ================*/
/*==================== pagging ====================*/
.pagging {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  border: 1px solid #ededed;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.22);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.22);
  background-color: #fff;
}

.pagging:hover {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
}

@media (max-width: 340px) {
  .pagging {
    padding: 0 5px;
  }
}

.pagging__arrow {
  font-size: 14px;
  font-weight: bold;
  color: #aaaaaa;
  text-transform: uppercase;
}

@media (max-width: 520px) {
  .pagging__arrow {
    display: none;
  }
}

.pagging__arrow_prev {
  padding-left: 20px;
  background-image: url(../image/pagging/arrow_prev.png);
  background-repeat: no-repeat;
  background-position: left center;
}

.pagging__arrow_next {
  padding-right: 20px;
  background-image: url(../image/pagging/arrow_next.png);
  background-repeat: no-repeat;
  background-position: right center;
}

.pagging__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 520px) {
  .pagging__list {
    width: 100%;
  }
}

.pagging__item {
  width: 30px;
  display: block;
  font-size: 16px;
  color: gray;
  line-height: 48px;
  text-align: center;
}

.pagging__item.active {
  font-weight: 600;
  color: #ef8742;
  border-bottom: 2px solid #ef8742;
}

/*==================== pagging end ================*/
/*==================== footer ====================*/
.footer {
  width: 100%;
}

.footer__top {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  -webkit-box-shadow: 0px 1px 0px 0px #d7d7d7, inset 0px 1px 0px 0px #d7d7d7;
          box-shadow: 0px 1px 0px 0px #d7d7d7, inset 0px 1px 0px 0px #d7d7d7;
}

.footer__bottom {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: white;
  background-color: #3c5569;
}

.footer__bottom span {
  margin-left: 5px;
  display: inline-block;
  font-weight: 700;
}

.top-footer__image img {
  max-width: 100%;
}

.top-footer__title {
  margin: 15px 0;
  font-size: 16px;
  color: #3c5569;
  text-transform: uppercase;
  line-height: 1;
}

.top-footer__subtitle {
  font-size: 16px;
  font-weight: bold;
  color: #3c5569;
  text-transform: uppercase;
  line-height: 1;
}

/*==================== footer end ================*/
